<header class="site-header">
  <h1 class="site-title"><a href="#/">Atlas Zwierząt Polski</a></h1>
  
  <nav class="page-nav">
    <ul class="inline-items">
      <li class="menu-item"><a href="#/">główna</a></li>
      <li class="menu-item" ng-class="{ active:isSet('{{key}}') }" ng-repeat="(key, value) in classes"><a ng-click="setTab(key)" href>{{key}}</a></li>
      <li class="menu-item"><a href="#/site-index">skorowidz</a></li>
    </ul>
  </nav>
</header>

<div class="gallery clearfix" ng-repeat="(key, value) in classes" ng-show="isSet('{{key}}')">
  <dl ng-repeat="animal in value | orderBy:orderProp">
    <dt>
      <a href="#/animals/{{animal.id}}">
        <img ng-src="{{animal.img}}" alt="{{animal.name}}">
      </a>
    </dt>
    <dd>
      <a href="#/animals/{{animal.id}}">{{animal.name}}</a>
    </dd>
  </dl>
</div>