/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Lora', 'Georgia', serif;
}
.main,
.inner {
  width: 100%;
}
section,
.article,
.site-title,
.site-info {
  margin-left: 4%;
  margin-right: 4%;
}
/** Headings **/
h1,
h2 {
  font-weight: 400;
}
/** Links **/
a {
  color: #3b8686;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: #0b486b;
}
a:focus {
  outline: 2px dotted #79bd9a;
}
/** Header **/
.site-title a,
.article-title a {
  color: #222;
  text-decoration: none;
}
.site-title a:hover,
.article-title a:hover {
  color: #666;
}
/** Navigation **/
.inline-items {
  padding: 0;
}
.inline-items li {
  display: inline-block;
  list-style: none;
}
.menu-item a {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  text-transform: capitalize;
}
.menu-item a:hover {
  background-color: #79bd9a;
  color: #fff;
}
.active a {
  background-color: #3b8686;
  color: #fff;
}
.active a:hover {
  background-color: #79bd9a;
  color: #fff;
}
.page-nav {
  border-color: #ddd;
  border-style: solid;
  border-width: 1px 0;
}
.page-nav .inline-items li {
  display: block;
}
.search {
  box-sizing: border-box;
  max-width: 290px;
  margin-top: 6px;
  padding-left: 25px;
  position: relative;
}
.search .fa {
  position: absolute;
  right: 8px;
  top: 10px;
}
/** Main Gallery **/
.gallery {
  padding: 1em 0;
  display: grid;
  gap: 4px;
}
/** Footers **/
footer {
  color: #666;
  font-size: 0.9em;
  padding: 1em 0;
}
footer .inline-items {
  margin-top: 0;
  margin-bottom: 0;
}
footer .left {
  width: 70%;
}
footer .right {
  text-align: right;
  width: 30%;
}
/** Froms **/
button,
input {
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #666;
  font-size: .8em;
  line-height: 1.5;
}
button {
  background: #3b8686;
  border: 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  color: #fff;
  margin-bottom: 3px;
  overflow: visible;
  padding: 5px 8px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
input[type="search"] {
  box-sizing: border-box;
  padding: 8px 26px 8px 6px;
  width: 100%;
}
button:active {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset;
}
button:hover {
  background: #79bd9a;
}
input:focus {
  outline: 0;
  border: 1px solid #3b8686;
}
button .fa {
  font-size: 1.25em;
}
label {
  cursor: pointer;
}
@media screen and (min-width: 599px) {
  /** Header **/
  .site-title {
    text-align: center;
  }
  .article-title em {
    white-space: nowrap;
  }
  /** Navigation **/
  .page-nav {
    margin: 0 4%;
    position: relative;
  }
  .page-nav ul {
    margin: 0;
    display: flex;
  }
  .search {
    margin-left: auto;
    padding-left: 0;
  }
  /** Gallery **/
  .gallery {
    margin-left: 4%;
    margin-right: 4%;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }
  .main,
  .inner {
    margin: 0 auto;
    max-width: 1020px;
  }
  /** Navigation **/
  .page-nav {
    margin: 0;
  }
  .page-nav ul {
    margin: 0 4%;
  }
  .search {
    margin-top: 8px;
  }
  /** Gallery **/
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/** Print Style **/
@media print {
  body {
    font-size: 11pt;
    margin: 15mm 15mm 15mm 15mm;
  }
  a {
    text-decoration: none;
  }
  footer,
  .page-nav,
  .bottom-nav-container,
  .site-index > ul {
    display: none;
  }
  /** Header **/
  .site-title {
    text-align: center;
  }
  .site-title,
  .article-title {
    border-bottom: 1px solid #ccc;
  }
  .article-title em {
    white-space: nowrap;
  }
  /** Gallery **/
  .gallery {
    text-align: center;
  }
}
