<app-site-header />

<section class="site-index">
  <h2>Skorowidz</h2>

  <ul class="inline-items">
    @for (item of pageIndex(); track item.letter) {
      <li class="menu-item"><a routerLink="." [fragment]="item.letter">{{item.letter}}</a></li>
    }
  </ul>
  @for (item of pageIndex(); track item.letter) {
     <dl>
      <dt [id]="item.letter">
        {{item.letter}}
      </dt>
      @for (animal of item.animals; track animal.id) {
        <dd>
          <a [routerLink]="['/animals', animal.id]">{{animal.name}}</a>
        </dd>
      }
    </dl>
  }
  <ul class="inline-items">
    @for (item of pageIndex(); track item.letter) {
      <li class="menu-item"><a routerLink="." [fragment]="item.letter">{{item.letter}}</a></li>
    }
  </ul>
</section>
